#!/usr/bin/make -f

#%:
#	dh $@

#override_dh_auto_install:

#	install DESTDIR=$(CURDIR)/debian/eta-keyboard-kdm-config/

include /usr/share/cdbs/1/rules/buildcore.mk
include /usr/share/cdbs/1/rules/debhelper.mk
include /usr/share/cdbs/1/class/makefile.mk

DEB_DH_BUILDDEB_ARGS = -- -Zxz

DEB_MAKE_INSTALL_TARGET := install DESTDIR=$(CURDIR)/debian/eta-keyboard-kdm-config/
